<div class="container-fluid">
  <h2>Update Menu</h2>
  <h3><%= @item.name %></h3>
  <div class="form-group form-group-md">
    <%= render "form", menu: @menu, item: @item %>
  </div>
  <div class="btn-group">
    <div class="btn btn-default">
      <%= link_to "Back", menu_path(@menu) %>
    </div>
  </div>
</div>
