<div class="container-fluid">
  <h2><%= @item.name %> | <%= price_of(@item) %></h2>
  <h3><%= @item.description %></h3>
  <div class="btn-group">
    <div class="btn btn-default">
      <%= link_to "Back", menu_path(@menu) %>
    </div>
  </div>
</div>
