<div class="container-fluid">
  <h1>Categories</h1>
  <h3><%= link_to "New", new_category_path %></h3>
  <% @categories.each do |c| %>
  <h3><%= link_to c.name, category_path(c) %> </h3>
  <h4><%= link_to "Edit", edit_category_path(c) %></h4>
  <% end %>
</div>
